<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DynDNSClient.Properties.TranslationLanguageIsoCodeToDescriptionEnUs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DynDNSClient.Properties.SettingsKodiNfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DynDNSClient.Properties.SettingsKodi" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <DynDNSClient.Properties.TranslationLanguageIsoCodeToDescriptionEnUs>
            <setting name="AB" serializeAs="String">
                <value>Abkhazian</value>
            </setting>
            <setting name="AA" serializeAs="String">
                <value>Afar</value>
            </setting>
        </DynDNSClient.Properties.TranslationLanguageIsoCodeToDescriptionEnUs>
        <DynDNSClient.Properties.SettingsKodiNfo>
            <setting name="title" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sorttitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="originaltitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="set" serializeAs="String">
                <value>True</value>
            </setting>
        </DynDNSClient.Properties.SettingsKodiNfo>
        <DynDNSClient.Properties.SettingsKodi>
            <setting name="Skin" serializeAs="String">
                <value>Transparency!</value>
            </setting>
            <setting name="ExportMovieAsSeries" serializeAs="String">
                <value>False</value>
            </setting>
        </DynDNSClient.Properties.SettingsKodi>
    </userSettings>
</configuration>
